/* styling the whole page */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}
h2 {
  font-family: montserrat;
}
.Navbar {
  padding: 3rem 5rem;
}

.logo {
  color: blue;
  text-transform: uppercase;
}

button a {
  color: white;
  text-decoration: none;
}
.icons {
  color: blue;
  padding: 2rem;
}
.nav-link {
  float: right;
}
.navbar {
  display: flex;
  gap: 2rem;
  padding: 0.5rem;
}

.navbar li {
  list-style-type: none;
  justify-content: flex-end;
}

.navbar li a {
  text-decoration: none;
  color: blue;
}

/* styling for hero section */
section {
  text-align: center;
  position: relative;
  padding: 7% 15%;
  /* color: white; */
}

#hero-section {
  /* background-image: url("/images/Achilles.jpg"); */
  background-repeat: no-repeat;
  background-size: cover;
  padding: 5% 7%;
}

.heroimg {
  overflow: hidden;
  min-width: 100%;
  position: absolute;
  z-index: -1;
}

/* styling for about */
.About {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  padding: 10px;
  height: 20rem;
  width: 100%;
}

.About h1 {
  border-bottom: 2px solid;
  margin-bottom: 3px;
}

hr {
  color: black;
}

/* styling for hobbies */
.hobbies {
  display: flex;
  flex-direction: column;
  background-color: white;
  justify-content: center;
  align-items: center;
  padding: 10px;
  height: 20rem;
  gap: 10px;
}

.hobby-container {
  display: flex;
  justify-content: center;
  gap: 10px;
  width: 80%;
}

.hobbies .text {
  width: 40%;
  /* background-color: yellow; */
  padding: 10px;
  height: 100%;
}

.hobbies .text li {
  list-style-type: none;
  text-transform: capitalize;
  padding: 5px;
}

.hobbies .hobby-images {
  /* background-color: green; */
  height: 100%;
  width: 40%;
}

.hobbies .hobby-images img {
  height: 100%;
  width: 100%;
}

/* styling for certifications */
.certifications {
  display: flex;
  justify-content: center;
  /* background-color: blanchedalmond; */
  padding: 10px;
  height: 20rem;
}

/* styling for gallery */
.gallery {
  position: relative;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 200px;
  transform-style: preserve-3d;
  animation: animate 20s linear infinite;
}

@keyframes animate {
  0% {
    transform: perspective(1000px) rotateY(0deg);
  }
  100% {
    transform: perspective(1000px) rotateY(360deg);
  }
}
.gallery span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform-origin: center;
  transform-style: preserve-3d;
  transform: rotateY(calc(var(--i) * 45deg)) translateZ(400px);
  /* -webkit-box-reflect: below 0px; */
}

.gallery span img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  border: 2px solid white;
  border-radius: 18px;
  height: 100%;
  object-fit: cover;
}

.language-prof {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 7rem;
}
.formfield {
  display: flex;
  flex-direction: column;
}
form input {
  width: 100%;
  margin: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.innerdiv {
  display: flex;
}
.inputfields {
  width: 100%;

  /* margin: 5px; */
}

.textarea {
  width: 40%;
}

.getintouch {
  color: blue;
}

.phone {
  font-family: ubuntu, serif;
  line-height: 1.5;
}
/* styling for footer */
footer {
  background-color: black;
  height: 4rem;
  color: white;
  text-align: center;
  padding: 1.5rem;
}
